<div class="container">
    <form>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Titulo</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" [(ngModel)]="selectedBook.title" name="title">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Autor</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" [(ngModel)]="selectedBook.author" name="author">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Año de publicacion</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" [(ngModel)]="selectedBook.year_publication"
                    name="year">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Edicion</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" [(ngModel)]="selectedBook.edition" name="edition">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Numero de Copias</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" [(ngModel)]="selectedBook.number_copies"
                    name="copias">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" (click)="updateBook()">Actualizar</button>
            </div>
            <div class="col">
                <button class="btn btn-danger" (click)="createBook()">Añadir</button>
            </div>
            <div class="col">
                <button class="btn btn-warning" (click)="deleteBook()">Eliminar</button>
            </div>
        </div>
    </form>
</div>

<section id="books">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let book of books">
                <div class="card_book">
                    <div class="card">
                        <div class="card-body text-center">
                            <p>
                                <img class="img-fluid" src="{{book.cover_image}}" alt="{{book.title}}">
                            </p>
                            <h4 routerLink="/book/{{book.id}}" class="card-title">Titulo: {{book.title}}</h4>
                            <p class="card-text">
                                Autor: {{book.author}}
                            </p>
                            <div class="container-precio-idioma">
                                <p class="badge badge-info">
                                    Año: {{book.year_publication}}
                                </p>
                                <p class="badge badge-info">
                                    Edicion: {{book.edition}}
                                </p>
                                <p class="badge badge-info">
                                    Cantidad:{{book.number_copies}}
                                </p>
                            </div>
                            <button (click)="bookClicked(book)" class="btn btn-block btn-primary">Editar Libro</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>