<div class="container">
<form (submit)="loginUser($event)" id="contact_form">
    <div class="name">
    <input type="text" placeholder="Username" id="username">
    <input type="password" placeholder="Password" id="password">
    <input type="submit" value="Submit">
    </div>
</form>
</div>